<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ReactNativeStarter.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>6E64273D1F17D07BAC6B24EEBA4194B1EADA9167</string>
				<key>dateExpires</key>
				<string>12/05/2021</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>5279LPFJ58.com.syncnsecure.NotificationApp</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>5279LPFJ58</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>ReactNativeStarter.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>612895bf-57a5-4100-b0e0-ac13341d9888</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.syncnsecure.NotificationApp</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>5279LPFJ58</string>
				<key>name</key>
				<string>Sync &amp; Secure</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
